{
  auto_https off
}

:80 {
  handle /api/* {
    reverse_proxy backend:8000
  }

  @admin path /admin /admin/*
  handle @admin {
    redir http://localhost:8000{uri}
  }

  handle /health/* {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:3000
  }
}
